<%- include('./partials/head'); %>
<% if(data){ %>
  <body>
    <main class="details-wrapper">
      <section class="lead">
        <h1>🪅 CSS Day's 10 Year Anniversary! 🪅</h1>
        <p>Wowowowow, 10 years, we know right..</p>
        <p>Checkout the info of all CSS Day events of the last decade!</p>
      </section>

      <!-- TODO -->
  <!-- Loop door alle jaren heen -->
  <!-- forEach -->
  <!-- Heb ik dit jaar gehad?  -->
  <!-- Nee? voeg dat jaar aan <h3> toe -->
  <!-- Anders: op zoek naar volgende jaartal -->



      <section class="details-wrapper">
     
        <details class="year-details">

    
          <summary class="year-summary">year</summary>
  
          <h3>Speakers</h3>
         
   

          <h3>Attendees</h3>
          <p>total number of attandees: ...</p>

          <h3>Venue</h3>
          <p>name of venue</p>

          <h3>More about 2024's CSS Day</h3>
          <a href="#">linkje</a>
        </details>

        <details class="year-details">
          <summary class="year-summary"></summary>
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
          </ul>
          <h3></h3>
          <p></p>
          <h3></h3>
          <p></p>
          <h2></h2>
          <a></a>
        </details>

        <details class="year-details">
          <summary class="year-summary"></summary>
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
          </ul>
          <h3></h3>
          <p></p>
          <h3></h3>
          <p></p>
          <h3></h3>
          <a></a>
        </details>

        <details class="year-details">
          <summary class="year-summary"></summary>
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
          </ul>
          <h3></h3>
          <p></p>
          <h3></h3>
          <p></p>
          <h3></h3>
          <a></a>
        </details>

        <details class="year-details">
          <summary class="year-summary"></summary>
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
          </ul>
          <h3></h3>
          <p></p>
          <h3></h3>
          <p></p>
          <h3></h3>
          <a></a>
        </details>

        <details class="year-details">
          <summary class="year-summary"></summary>
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
          </ul>
          <h3></h3>
          <p></p>
          <h3></h3>
          <p></p>
          <h3></h3>
          <a></a>
        </details>

        <details class="year-details">
          <summary class="year-summary"></summary>
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
          </ul>
          <h3></h3>
          <p></p>
          <h3></h3>
          <p></p>
          <h3></h3>
          <a></a>
        </details>

        <details class="year-details">
          <summary class="year-summary"></summary>
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
          </ul>
          <h3></h3>
          <p></p>
          <h3></h3>
          <p></p>
          <h3></h3>
          <a></a>
        </details>

        <details class="year-details">
          <summary class="year-summary"></summary>
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
          </ul>
          <h3></h3>
          <p></p>
          <h3></h3>
          <p></p>
          <h3></h3>
          <a></a>
        </details>

        <details class="year-details">
          <summary class="year-summary"></summary>
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
          </ul>
          <h3></h3>
          <p></p>
          <h3></h3>
          <p></p>
          <h3></h3>
          <a></a>
        </details>
      </section>
    </main>
    <% } %>
    <%- include('./partials/footer'); %>
  </body>
</html>
