* {
  margin: 0;
  box-sizing: border-box;
  font: 100% Source Code Pro, Inconsolata, Menlo, monospace;
}

/*  🥕 ROOT */
:root 

/* STYLING  */
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgb(51, 51, 51),
    rgb(255, 255, 255),
    rgb(205, 133, 63)
  );
}

body section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: rgb(205, 133, 63);
  padding-block: 2em;
  padding-inline: 2em;
  margin-block: 2em;
  margin: 2em;
}

h1 {
  font-size: x-large;
}

.lead {
  max-width: 100em;
  display: flex;
  align-items: center;
  padding: 2em;
}

.pick-a-year {
  display: flex;
  text-align: center;
}

/* .details-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
} */

.details-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #333;
  padding-block: 2em;
  padding-inline: 2em;
  margin: 1em;
}

.year-details h3 {
  font-weight: bold;
  margin-bottom: 1em;
}

.year-details p {
  margin-bottom: 1em;
}

.year-details ul {
  margin-bottom: 1em;
}

.year-summary {
  font-weight: bold;
  background-color: #333;
  color: rgb(255, 255, 255);
  padding-block: 1em;
  padding-inline: 1em;
  margin: 1em;
}

/*  MEDIA QUERIES */
